/* Formulario.css */

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.list-container {
  flex: 1; /* Toma el espacio disponible en el contenedor */
  max-width: 50%; /* Limita el ancho máximo al 50% del contenedor principal */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ruleta-container {
  flex: 1; /* Toma el espacio disponible en el contenedor */
  display: flex;
  align-items: center;
}

.title-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.Dado1-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
