.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

.items {
  width: 100%; /* Opcional: asegura que la lista ocupe todo el ancho disponible */
  max-width: 600px; /* Limita el ancho máximo de la lista */
  margin: 0; /* Elimina los márgenes laterales de la lista */
  padding: 0; /* Elimina el relleno interno de la lista */
}

.list-item {
  margin-bottom: 15px; /* Espaciado entre los elementos de la lista */
  width: 100%; /* Asegura que cada elemento de la lista ocupe todo el ancho disponible */
}

.item {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
}

.input {
  width: 100%; /* Asegura que el campo de texto ocupe todo el ancho disponible del contenedor */
  max-width: 500px; /* Limita el ancho máximo del campo de texto */
}

.button {
  margin-left: 2.1rem;
  padding: 10px 20px;
  background-color: #f0f0f0; /* Soft grey background */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #e0e0e0; /* Slightly darker grey on hover */
  border-color: #bbb; /* Slightly darker border on hover */
}

.add-button {
  padding: 10px 20px;
  background-color: #f0f0f0; /* Soft grey background */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.add-button:hover {
  background-color: #e0e0e0; /* Slightly darker grey on hover */
  border-color: #bbb; /* Slightly darker border on hover */
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.list-container {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra la lista y el botón horizontalmente */
}

.ruleta-container {
  flex: 1;
}

.add-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espacio opcional arriba del botón */
  width: 100%; /* Asegura que el contenedor del botón ocupe todo el ancho disponible */
}
