.ruleta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Estilo de la ruleta */
.ruleta {
  width: 200px;
  height: 200px;
  border: 10px solid #333;
  border-radius: 50%;
  position: relative;
  transition: transform 3s cubic-bezier(0.25, 0.1, 0.25, 1);
  overflow: hidden;
}

.ruleta.spinning {
  transition-timing-function: ease-out;
}

.segment {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: lightcoral;
  border: 1px solid #333;
  box-sizing: border-box;
  transform-origin: 100% 100%;
}

/* Estilo del botón */
button {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f0f0f0; /* Soft grey background */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #e0e0e0; /* Slightly darker grey on hover */
  border-color: #bbb; /* Slightly darker border on hover */
}

/* Estilo del mensaje del ganador */
.winner-message {
  margin-top: 5px;
  padding: 15px;
  font-size: 16px; /* Tamaño de fuente similar al del botón */
  font-family: 'Arial', sans-serif; /* Fuente similar a la del botón */
  background-color: #d4edda; /* Light green background */
  border: 1px solid #c3e6cb; /* Green border */
  border-radius: 5px;
  color: #155724; /* Dark green text */
  text-align: center;
}

.winner-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.winner-name {
  font-size: 20px;
  color: #f57c00; /* Color de texto que contraste */
}

.stack-container {
    display: flex;
    justify-content: center; /* Centra el Stack horizontalmente dentro de este contenedor */
    margin-bottom: 10px; /* Espacio opcional arriba del Stack */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}
